.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/__pycache__/
.DS_Store
.venv

# # exclude everything
outputs/*
data/raw

# # exception to the rule
!outputs/example_HMM_output
!outputs/example_LSTM_output