.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max_width: 1079px) {
    .nav {
        display: none;
    }
}
@media (min-width: 1080px) {
    .nav {
        position: fixed;
        display: flex;
        align-items: center;
        top: 0;
        right: 0;
        height: 100%;
        width: 10%;
        background-color: #fff;
        overflow-y: auto;
    }

    .nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav li {
        padding: 0px;
        margin: 7px 0;
    }
    .nav li a {
        color: #000;
        transition: 0.1s
    }

    .nav li a:hover {
        color: #185abc;
        transition: 0.1s
    }
    #table-of-contents {
        font-size: calc(11px + 4 * ((100vw - 320px) / 960))
    }
}
  