.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.toc_style {
    position: fixed;
    top: 10%; /* adjust this value to your liking */
    right: 0;
    width: 8%;
    background-color: #000;
    border: None;
    padding: 10px;
  }
  